
/* About US */

/* About ETR (Placeholder as of now */
  #AboutComp{
    padding-top: 90px !important;
  }

.AboutETRBG {
    margin-top: 110px;
    background-color: #2A5D9A;
    background-image: url(Pics/abstractbg4.png);
    background-blend-mode: overlay;
    z-index: 1;
}

.AboutETR2 {
    margin-left: 90px;
    background-color: #d1d1d1;
    border-radius: 40px 0 0 40px;
    transform: translate(0%, -50%);
    z-index: 2;
}

#AboutETR2Items {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Fnum, #SNum, #TNum, #Gnum {
    margin-left: 50px;
    margin-top: -5px;
    font-size: 45px;
}

#AboutCompHeader{
    font-family: 'Lato-regular';
    font-size: 25px;
}

#AboutCompHeader2{
    font-family: 'Lato-bold';
}

#WeAtETRP {
    font-family: 'Lato-regular';
    text-align: justify;
}

#AboutETRPic {
    height: 500px;
    width: 405px;
    margin-top: 10px;
    color: #d1d1d1;
    position: relative;
    background-color: #d1d1d1;
    border-radius: 0 0 200px 200px;
    transform: translate(20%, -23%);
    z-index: 2;
}

#TransformBusiness {
    margin-left: 100px;
    margin-top: -20px;
    line-height: 40px;
    color: white;
}

#WeListen {
    margin-left: 100px;
    color: white;
}


.progress {
    margin-top: 10px;
    margin-left: 100px;
    width: 700px;
}

.img-fluid {
    height: 352px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* What we do */

#OurSoftware {
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    color: black;
}

#SoftwarePackages {
    margin-top: 100px;
    font-size: 25px;
    text-align: center  ;
    font-family: 'Lato-Semibold';
    text-transform: uppercase;
}

#DCM{
    margin-top: 15px;
}

#DCMP, #ETRSP, #SPMSP, #POSP, #CSP{
    font-family: 'Lato-regular';
}



.Group1 {
    margin-top: 20px;
    padding: 40px 35px 36px 35px;
    border-radius: 15px;
    background-color: #ECF6FF;
    text-align: justify;
    height: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.bi-kanban ,.bi-code-square, .bi-phone, .bi-card-text, .bi-gear, .bi-terminal, .bi-braces {
    font-size: 50px;
}
